.temp{
  //display: flex;
  color: #777777;
  font-size: 1.5rem;
  margin-right: 18.5rem;
  background: #ffebee;

  text-decoration: none;
}

.tag{
  color: #000000;
  font-size: 1rem;
  margin-left: 0rem;
  margin-right: 2rem;
  //text-decoration: none;
}

.posts{
  list-style-type: none;
  margin: 0;
}

.post{
  margin: 1rem 0;

  a{
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
  a:hover{
    background: #ffebee;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 0;
  }
  level {
    position: absolute;
    right: 300px;
    font-size: 1rem;
    margin-bottom: 0;
    color: #555555;
  }
}
