.git-item {
  color: #000000;
  font-size: 1rem;
  margin-right: 2rem;
  text-decoration: none;

}

.git-item:hover{
  color: #FFC0CB;
}

.active-git-item{
  color: #333333;
}

.l-item {
  color: #000000;
  font-size: 1rem;
  margin-right: 2rem;
  text-decoration: none;

}

.l-item:hover{
  color: #FFC0CB;
}

.active-l-item{
  color: #333333;
}

.insta-item {
  color: #000000;
  font-size: 1rem;
  margin-right: 2rem;
  text-decoration: none;

}

.insta-item:hover{
  color: #FFC0CB;
}

.active-insta-item{
  color: #333333;
}

.button {
  background-color: #444444;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.button:hover{
  background-color: #FFC0CB;
}
